<main class="reset-password-container">
  <section class="main-section">
    <section class="left-side">
      <h1 class="title">Redefinir sua senha</h1>
      <form [formGroup]="resetPasswordForm" class="reset-password-form">
        <app-primary-input
          formControlName="password"
          inputName="password"
          [type]="showPassword ? 'text' : 'password'"
          label="Sua nova senha"
        >
          @if (showPassword) {
          <img src="/assets/svgs/password-on.svg" />
          } @else {
          <img src="/assets/svgs/password-off.svg" />
          }
        </app-primary-input>
            <app-primary-input
          formControlName="confirmPassword"
          inputName="confirmPassword"
          [type]="showPassword ? 'text' : 'password'"
          label="Confirme sua nova senha"
        >
          @if (showPassword) {
          <img src="/assets/svgs/password-on.svg" />
          } @else {
          <img src="/assets/svgs/password-off.svg" />
          }
        </app-primary-input>
        <a href="signin"><span> Fazer login? </span></a>

        <button
          class=""
          (click)="submit()"
          [disabled]="resetPasswordForm.invalid"
        >
          Resetar senha
        </button>
      </form>
    </section>
    <section class="right-side">
      <img src="/assets/svgs/Reset-password-pana.svg" />
    </section>
  </section>
</main>
