<main class="recovery-password-container">
    <section class="main-section">
      <section class="left-side">
          <h1 class="title">Redefinir sua senha</h1>
            <form [formGroup]="recoveryPasswordForm" class="recovery-password-form">
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="johndoe@gmail.com"
        >
            <img src="/assets/svgs/email.svg"/>

        </app-primary-input>
<a href="signin"><span> Fazer login? </span></a>

    <button class="" (click)="submit()" [disabled]="recoveryPasswordForm.invalid">Enviar email</button>


    </form>
      </section>
    <section class="right-side ">
            <img src="/assets/svgs/Forgot-password-pana.svg"/>
    </section>
    </section>
</main>
