@import "../../../styles/variables.scss";

.user-container {
  background-color: chic(100);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 24px;;
}

.main-section {
  display: flex;
  background-color: #FFF;
  align-items: center;
  gap:2rem;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 4px;
  min-width: 60%;

  @media(max-width: 768px) {
    flex-direction: column-reverse;
    max-width: 95%;
    width: 100%;
  }
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;;
}

.right-side {
  width: 100%;
  height: 100%;
  max-width: 500px;

}

.user-div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

.main-section img {
  max-height: 500px;
  &:focus,
  &:active {
    outline: none;
    border: none;
  }
}

button {
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background: transparent;
  padding: 12px 24px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }

  background-color: blu(700);
  color: #f7f7f7;

}
    span {
        font-size: 14px;
        text-decoration: underline;
        color: blu(800);
        text-align: end;
        font-weight: 500;
    }

    .user-info-text {
      font-size: 16px;
    }

    .text-lorem {
      color: blu(900);
         font-size: 16px;
    }

    .span-user {
      text-decoration: none;
      font-size: 16px;
      color: blu(900);
    }
