<main>
  <section class="form-section">
    <h2>{{ title }}</h2>
    <ng-content></ng-content>

    <div class="btn-wrapper">
      <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtn">
        {{ primaryBtnText }}
      </button>

      <div class="divider">
        <div></div>
        <span>ou</span>
        <div></div>
      </div>

      <button class="btn-secondary" (click)="navigate()">
        {{ secondaryBtnText }}
      </button>

      @if (showGoogleButton) {
  <div class="btn-wrapper">
  <div #googleButtonDiv class="google-btn-container"></div>
</div>
      }
    </div>
  </section>

  <section class="main-section">
    <h1>Bem vindo ao Micro-service-Auth!</h1>
    <img [src]="defaultImageLayout" />
  </section>
</main>
