
<app-default-login-layout
    title="Faça login na sua conta"
    primaryBtnText="Fazer login"
    secondaryBtnText="Criar sua conta"
    defaultImageLayout="/assets/svgs/Login-pana.svg"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"

>
    <form [formGroup]="loginForm">
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="johndoe@gmail.com"
        >
            <img src="/assets/svgs/email.svg"/>
        </app-primary-input>
<app-primary-input app-primary-input
  formControlName="password"
  inputName="password"
  [type]="showPassword ? 'text' : 'password'"
  label="Sua senha"
>
  @if (showPassword) {
    <img src="/assets/svgs/password-on.svg" />
  } @else {
    <img src="/assets/svgs/password-off.svg" />
  }
</app-primary-input>

    <a href="recovery-password"><span> Esqueceu sua senha? </span></a>
    </form>
</app-default-login-layout>
